packages:
  rpm:
    newrelic: https://yum.newrelic.com/pub/newrelic/el5/x86_64/newrelic-repo-5-3.noarch.rpm
  yum:
    newrelic-sysmond: []

commands:
  01-run-newrelic:
    command: "nrsysmond-config --set license_key=YOUR_LICENSE_KEY_HERE"
  02-run-newrelic:
    command: "/etc/init.d/newrelic-sysmond start"
